# Server Port
PORT=5001

# Primary MongoDB URI (Accounts Database: transactions, monthly_balances)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/accounts_dashboard?retryWrites=true&w=majority

# Secondary MongoDB URI (Read-only booking system connection: ft_booking_system.bookings)
BOOKING_MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/ft_booking_system?retryWrites=true&w=majority

# JWT Secret for Admin Authentication
JWT_SECRET=your_jwt_secret_key_here